# SQL WHERE & Logic Practice – Single Table (`cat`)

In this notebook, you will practice **filtering data from a single table** using SQL.

You will work with **one table only**, focusing on:
- `WHERE` conditions  
- text filters using `LIKE`, `%`, and `_`  
- logical operators: `AND`, `OR`, `NOT`  
- how **parentheses affect the order of evaluation**

The goal is not just to “make the query work”, but to **translate English rules into correct SQL logic**.

## The `cat` Table

All exercises use the same table:

Each row represents **one cat**, and each column stores an attribute of that cat.

| Column name | Description |
|------------|-------------|
| `id` | Unique identifier for each cat |
| `name` | Name of the cat |
| `breed` | Breed of the cat (e.g. Siamese, Persian, Ragdoll) |
| `coloration` | Fur color or pattern (may be `NULL`) |
| `age` | Age of the cat in years |
| `sex` | Sex of the cat: `'M'` (male) or `'F'` (female) |
| `fav_toy` | Favorite toy of the cat (may be `NULL`) |

**Take your time to **read each prompt carefully**, translate it into logic, and then into SQL.**

## **SQL Environment Setup (do not edit)**

In [ ]:
# @title

%%capture
!mkdir -p notebook_lib
!wget -q -O notebook_lib/sql_runner.py \
  https://raw.githubusercontent.com/Haross/sql_notebook/main/notebook_lib/sql_runner.py
!wget -q -O notebook_lib/validators.py \
  https://raw.githubusercontent.com/Haross/sql_notebook/main/notebook_lib/validators.py

from notebook_lib.sql_runner import make_sql_runner
from notebook_lib.validators import make_df_validator_nospoilers, check_process_rules

import sqlite3
import pandas as pd
from pathlib import Path

In [ ]:
# @title

DB_FILE = 'kittens.db'

if DB_FILE != ":memory:":
    Path(DB_FILE).unlink(missing_ok=True)

conn = sqlite3.connect(DB_FILE)
conn.execute("PRAGMA foreign_keys = ON;")

conn.executescript(r'''
DROP TABLE IF EXISTS car;
-- Create table
CREATE TABLE cat (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    breed TEXT NOT NULL,
    coloration TEXT,
    age INTEGER,
    sex TEXT CHECK (sex IN ('M','F')),
    fav_toy TEXT
);

-- Insert rows
INSERT INTO cat (id, name, breed, coloration, age, sex, fav_toy) VALUES
(1, 'Micky',  'Maine Coon', 'tortoiseshell', 3,  'M', ' ball - red'),
(2, 'Nine',   'Ragamuffin', 'cream',         2,  'M', 'ball - green'),
(3, 'Carmen', 'Persian',    'brown',         2,  'F', 'toy mouse'),
(4, 'Luna',   'Abyssinian', 'tortoiseshell', 12, 'F', 'teaser'),
(5, 'Bella',  'Siamese',    'red',           15, 'F', 'teaser'),
(6, 'Tiger',  'Maine Coon', 'black',         12, 'M', 'toy mouse'),
(7, 'Shadow', 'Ragdoll',    'white',         16, 'M', NULL),
(8, 'Oreo',   'Siamese',    'red',           4,  'F', 'toy mouse'),
(9, 'Gizmo',  'Ragdoll',    'blue',          3,  'M', 'laser'),
(10,'Lucy',   'Persian',    'blue',          7,  'F', 'teaser');
''')
print(f"Database ready ✅ ({DB_FILE})")

## Level 1: Single condition

In [ ]:
# @title Practice 1_1
base_practice_1_1 = make_df_validator_nospoilers(
    expected_hash='b8f217145ca0e11b261ef49563e2bb68c9141640c039d8cca3486a7d6cacf000',
    required_cols=['id', 'name', 'breed', 'coloration', 'age', 'sex', 'fav_toy'],
    expected_rows=1,
    sort_rows=True,
    sort_cols=True,
    exact_cols=False,
    hide_missing_cols=True,
    hide_row_count=False,
)

val_practice_1_1 = base_practice_1_1

make_sql_runner(
    conn,
    runner_id="practice_1_1",
    description_md='### Practice 1.1\nShow all columns for the cat whose name is Luna.\n',
    validator=val_practice_1_1,
    sol_sql="SELECT * FROM cat WHERE name = 'Luna';",
    select_only=True,
    dedupe=True,
    schema_tables=['cat']
)

In [ ]:
# @title Practice 1_2
base_practice_1_2 = make_df_validator_nospoilers(
    expected_hash='b391a51d4787171cfbded8644fff09d248fe15435a799e077b5a0ccd62ceffe0',
    required_cols=['name', 'sex', 'age'],
    expected_rows=5,
    sort_rows=True,
    sort_cols=True,
    exact_cols=True,
    hide_missing_cols=True,
    hide_row_count=False,
)

val_practice_1_2 = base_practice_1_2

make_sql_runner(
    conn,
    runner_id="practice_1_2",
    description_md='### Practice 1.2\nShow **name**, **sex**, **age** for cats that are female.\n',
    validator=val_practice_1_2,
    sol_sql="SELECT name, sex, age FROM cat WHERE sex = 'F';",
    select_only=True,
    dedupe=True,
    schema_tables=['cat']
)

In [ ]:
# @title Practice 1_3
base_practice_1_3 = make_df_validator_nospoilers(
    expected_hash='70d554f7e1ecddbe9d01434adfd52753fc0fcb0ed2846b6a7e9055ccbd0e1e09',
    required_cols=['name', 'age'],
    expected_rows=4,
    sort_rows=True,
    sort_cols=True,
    exact_cols=True,
    hide_missing_cols=True,
    hide_row_count=False,
)

val_practice_1_3 = base_practice_1_3

make_sql_runner(
    conn,
    runner_id="practice_1_3",
    description_md='### Practice 1.3\nShow **name**, **age** for cats older than 10.\n',
    validator=val_practice_1_3,
    sol_sql='SELECT name, age FROM cat WHERE age > 10;',
    select_only=True,
    dedupe=True,
    schema_tables=['cat']
)

In [ ]:
# @title Practice 1_4
base_practice_1_4 = make_df_validator_nospoilers(
    expected_hash='07dc88828cbb4676a31971dd56e919c563648b133834d104abe926c139779f87',
    required_cols=['name', 'coloration'],
    expected_rows=2,
    sort_rows=True,
    sort_cols=True,
    exact_cols=True,
    hide_missing_cols=True,
    hide_row_count=False,
)

val_practice_1_4 = base_practice_1_4

make_sql_runner(
    conn,
    runner_id="practice_1_4",
    description_md='### Practice 1.4\nShow **name**, **coloration** for tortoiseshell cats.\n',
    validator=val_practice_1_4,
    sol_sql="SELECT name, coloration FROM cat WHERE coloration = 'tortoiseshell';",
    select_only=True,
    dedupe=True,
    schema_tables=['cat']
)

In [ ]:
# @title Practice 1_5
base_practice_1_5 = make_df_validator_nospoilers(
    expected_hash='452d2a4986622a78a3ab561b7d8c238911c9c8f3027465f3941b944477ac10ed',
    required_cols=['name', 'fav_toy'],
    expected_rows=3,
    sort_rows=True,
    sort_cols=True,
    exact_cols=True,
    hide_missing_cols=True,
    hide_row_count=False,
)

val_practice_1_5 = base_practice_1_5

make_sql_runner(
    conn,
    runner_id="practice_1_5",
    description_md='### Practice 1.5\nShow **name**, **fav_toy** for cats that like teaser.\n',
    validator=val_practice_1_5,
    sol_sql="SELECT name, fav_toy FROM cat WHERE fav_toy = 'teaser';",
    select_only=True,
    dedupe=True,
    schema_tables=['cat']
)

In [ ]:
# @title Practice 1_6
base_practice_1_6 = make_df_validator_nospoilers(
    expected_hash='4667e83198c300f6345d0db51b72491e18163ff84911d59acd85d7b7b6f7cedd',
    required_cols=['name', 'fav_toy'],
    expected_rows=1,
    sort_rows=True,
    sort_cols=True,
    exact_cols=True,
    hide_missing_cols=True,
    hide_row_count=False,
)

val_practice_1_6 = base_practice_1_6

make_sql_runner(
    conn,
    runner_id="practice_1_6",
    description_md='### Practice 1.6\nShow **name**, **fav_toy** for cats where the favorite toy is missing.\n',
    validator=val_practice_1_6,
    sol_sql='SELECT name, fav_toy FROM cat WHERE fav_toy IS NULL;',
    select_only=True,
    dedupe=True,
    schema_tables=['cat']
)

## Level 2: Text filters

In [ ]:
# @title Practice 2_1
base_practice_2_1 = make_df_validator_nospoilers(
    expected_hash='aaf6b00e905287f08e86fec063a86baac720bb7c562741fb67cff741e75e1a48',
    required_cols=['id', 'name', 'breed', 'coloration', 'age', 'sex', 'fav_toy'],
    expected_rows=1,
    sort_rows=True,
    sort_cols=True,
    exact_cols=False,
    hide_missing_cols=True,
    hide_row_count=False,
)

val_practice_2_1 = base_practice_2_1

make_sql_runner(
    conn,
    runner_id="practice_2_1",
    description_md='### Practice 2.1\nShow all cats whose name starts with the letter B.\n',
    validator=val_practice_2_1,
    sol_sql="SELECT * FROM cat WHERE name LIKE 'B%';",
    select_only=True,
    dedupe=True,
    schema_tables=['cat']
)

In [ ]:
# @title Practice 2_2
base_practice_2_2 = make_df_validator_nospoilers(
    expected_hash='cc39c603c1e252f6133347c794a25710af0f12402ddca88237c88047e6372d2d',
    required_cols=['name', 'breed'],
    expected_rows=2,
    sort_rows=True,
    sort_cols=True,
    exact_cols=True,
    hide_missing_cols=True,
    hide_row_count=False,
)

val_practice_2_2 = base_practice_2_2

make_sql_runner(
    conn,
    runner_id="practice_2_2",
    description_md='### Practice 2.2\nShow **name** and **breed** for breeds that include **Coon**.\n',
    validator=val_practice_2_2,
    sol_sql="SELECT name, breed FROM cat WHERE breed LIKE '%Coon%';",
    select_only=True,
    dedupe=True,
    schema_tables=['cat']
)

In [ ]:
# @title Practice 2_3
base_practice_2_3 = make_df_validator_nospoilers(
    expected_hash='ab2d23d050cfa4d496b5f178c1676e2db980690597e2dc0283d4fde0b14cab30',
    required_cols=['name', 'fav_toy'],
    expected_rows=2,
    sort_rows=True,
    sort_cols=True,
    exact_cols=True,
    hide_missing_cols=True,
    hide_row_count=False,
)

val_practice_2_3 = base_practice_2_3

make_sql_runner(
    conn,
    runner_id="practice_2_3",
    description_md='### Practice 2.3\nShow **name** and **fav_toy** for cats whose favorite toy contains “ball”.\n',
    validator=val_practice_2_3,
    sol_sql="SELECT name, fav_toy FROM cat WHERE fav_toy LIKE '%ball%';",
    select_only=True,
    dedupe=True,
    schema_tables=['cat']
)

In [ ]:
# @title Practice 2_4
base_practice_2_4 = make_df_validator_nospoilers(
    expected_hash='bc447f933da74370c57653ce77974857bca97eb140f8e0e380430bffe5661fd0',
    required_cols=['name'],
    expected_rows=4,
    sort_rows=True,
    sort_cols=True,
    exact_cols=True,
    hide_missing_cols=True,
    hide_row_count=False,
)

val_practice_2_4 = base_practice_2_4

make_sql_runner(
    conn,
    runner_id="practice_2_4",
    description_md='### Practice 2.4\nShow **name** for cats whose name has exactly 4 characters.\n',
    validator=val_practice_2_4,
    sol_sql="SELECT name FROM cat WHERE name LIKE '____';",
    select_only=True,
    dedupe=True,
    schema_tables=['cat']
)

In [ ]:
# @title Practice 2_5
base_practice_2_5 = make_df_validator_nospoilers(
    expected_hash='dc8d9f1cb6e0c0e3081231636171cd8b06caf6d79f2bd15ff8c0c77f76968e0e',
    required_cols=['name'],
    expected_rows=2,
    sort_rows=True,
    sort_cols=True,
    exact_cols=True,
    hide_missing_cols=True,
    hide_row_count=False,
)

val_practice_2_5 = base_practice_2_5

make_sql_runner(
    conn,
    runner_id="practice_2_5",
    description_md='### Practice 2.5\nShow **name** for cats whose second letter is **u**.\n',
    validator=val_practice_2_5,
    sol_sql="SELECT name FROM cat WHERE name LIKE '_u%';",
    select_only=True,
    dedupe=True,
    schema_tables=['cat']
)

In [ ]:
# @title Practice 2_6
base_practice_2_6 = make_df_validator_nospoilers(
    expected_hash='04f7cb97ec80aacc29825ff9ec620ca08e734776f5a3d845202e354dac9e02ca',
    required_cols=['name', 'fav_toy'],
    expected_rows=3,
    sort_rows=True,
    sort_cols=True,
    exact_cols=True,
    hide_missing_cols=True,
    hide_row_count=False,
)

val_practice_2_6 = base_practice_2_6

make_sql_runner(
    conn,
    runner_id="practice_2_6",
    description_md='### Practice 2.6\nShow **name** and **fav_toy** for toys that match _ _ _ mouse\n',
    validator=val_practice_2_6,
    sol_sql="SELECT name, fav_toy FROM cat WHERE fav_toy LIKE '___ mouse';",
    select_only=True,
    dedupe=True,
    schema_tables=['cat']
)

## Level 3: Logical operators and parenthesis

In [ ]:
# @title Practice 3_1
base_practice_3_1 = make_df_validator_nospoilers(
    expected_hash='16afdcf155b4729be0cf759357be50dd81d66ab889dbcb799605d05fcba85d33',
    required_cols=['id', 'name', 'breed', 'coloration', 'age', 'sex', 'fav_toy'],
    expected_rows=2,
    sort_rows=True,
    sort_cols=True,
    exact_cols=False,
    hide_missing_cols=True,
    hide_row_count=False,
)

val_practice_3_1 = base_practice_3_1

make_sql_runner(
    conn,
    runner_id="practice_3_1",
    description_md='### Practice 3.1\nFind cats that are male AND Ragdoll.\n',
    validator=val_practice_3_1,
    sol_sql="SELECT * FROM cat WHERE sex = 'M' AND breed = 'Ragdoll';",
    select_only=True,
    dedupe=True,
    schema_tables=['cat']
)

In [ ]:
# @title Practice 3_2
base_practice_3_2 = make_df_validator_nospoilers(
    expected_hash='48775e0cc5f01bb7aefbd3e44397c6008e25d8b4c81d00cac170f4cc0280e761',
    required_cols=['id', 'name', 'breed', 'coloration', 'age', 'sex', 'fav_toy'],
    expected_rows=4,
    sort_rows=True,
    sort_cols=True,
    exact_cols=False,
    hide_missing_cols=True,
    hide_row_count=False,
)

val_practice_3_2 = base_practice_3_2

make_sql_runner(
    conn,
    runner_id="practice_3_2",
    description_md='### Practice 3.2\nFind cats whose breed is Siamese OR Persian.\n',
    validator=val_practice_3_2,
    sol_sql="SELECT * FROM cat WHERE breed = 'Siamese' OR breed = 'Persian';",
    select_only=True,
    dedupe=True,
    schema_tables=['cat']
)

In [ ]:
# @title Practice 3_3
base_practice_3_3 = make_df_validator_nospoilers(
    expected_hash='24599691bf300e1927d1ec9710129d698f8e0b59ada82e880926cc5d8c6bd595',
    required_cols=['id', 'name', 'breed', 'coloration', 'age', 'sex', 'fav_toy'],
    expected_rows=2,
    sort_rows=True,
    sort_cols=True,
    exact_cols=False,
    hide_missing_cols=True,
    hide_row_count=False,
)

val_practice_3_3 = base_practice_3_3

make_sql_runner(
    conn,
    runner_id="practice_3_3",
    description_md='### Practice 3.3\nFind cats that are older than 10 and are either Maine Coon or Ragdoll.\n',
    validator=val_practice_3_3,
    sol_sql="SELECT * FROM cat WHERE age > 10 AND (breed = 'Maine Coon' OR breed = 'Ragdoll');",
    select_only=True,
    dedupe=True,
    schema_tables=['cat']
)

In [ ]:
# @title Practice 3_4
base_practice_3_4 = make_df_validator_nospoilers(
    expected_hash='eaedebbc653c0847477f4db9b7c24b9d49d066ccf11685e84f1ac246a1f18f1a',
    required_cols=['id', 'name', 'breed', 'coloration', 'age', 'sex', 'fav_toy'],
    expected_rows=4,
    sort_rows=True,
    sort_cols=True,
    exact_cols=False,
    hide_missing_cols=True,
    hide_row_count=False,
)

val_practice_3_4 = base_practice_3_4

make_sql_runner(
    conn,
    runner_id="practice_3_4",
    description_md='### Practice 3.4\nFind cats that are younger than 4 or whose favorite toy is laser.\n',
    validator=val_practice_3_4,
    sol_sql="SELECT * FROM cat WHERE age < 4 OR fav_toy = 'laser';",
    select_only=True,
    dedupe=True,
    schema_tables=['cat']
)

In [ ]:
# @title Practice 3_5
base_practice_3_5 = make_df_validator_nospoilers(
    expected_hash='1d98f8370f61bd5952245c0feac499734c88ab1f77ad6c068eb1bee9854215ef',
    required_cols=['id', 'name', 'breed', 'coloration', 'age', 'sex', 'fav_toy'],
    expected_rows=3,
    sort_rows=True,
    sort_cols=True,
    exact_cols=False,
    hide_missing_cols=True,
    hide_row_count=False,
)

val_practice_3_5 = base_practice_3_5

make_sql_runner(
    conn,
    runner_id="practice_3_5",
    description_md='### Practice 3.5\nFind cats that are female and red, or any cat older than 14.\n',
    validator=val_practice_3_5,
    sol_sql="SELECT * FROM cat WHERE (sex = 'F' AND coloration = 'red') OR age > 14;",
    select_only=True,
    dedupe=True,
    schema_tables=['cat']
)

In [ ]:
# @title Practice 3_6
base_practice_3_6 = make_df_validator_nospoilers(
    expected_hash='97c7054992358d70e918ed5b8a50ca4f6a3135c90d01385773675da5f33906a2',
    required_cols=['id', 'name', 'breed', 'coloration', 'age', 'sex', 'fav_toy'],
    expected_rows=2,
    sort_rows=True,
    sort_cols=True,
    exact_cols=False,
    hide_missing_cols=True,
    hide_row_count=False,
)

val_practice_3_6 = base_practice_3_6

make_sql_runner(
    conn,
    runner_id="practice_3_6",
    description_md='### Practice 3.6\nFind cats that are female, and either red or older than 14.\n',
    validator=val_practice_3_6,
    sol_sql="SELECT * FROM cat WHERE sex = 'F' AND (coloration = 'red' OR age > 14);",
    select_only=True,
    dedupe=True,
    schema_tables=['cat']
)

In [ ]:
# @title Practice 3_7
base_practice_3_7 = make_df_validator_nospoilers(
    expected_hash='144ab4fc04f0aa834c0e08ed5ffdf5d9f845cdc4ab5e531f6c5593f9c4958e1f',
    required_cols=['name', 'sex', 'age', 'fav_toy'],
    expected_rows=3,
    sort_rows=True,
    sort_cols=True,
    exact_cols=False,
    hide_missing_cols=True,
    hide_row_count=False,
)

val_practice_3_7 = base_practice_3_7

make_sql_runner(
    conn,
    runner_id="practice_3_7",
    description_md='### Practice 3.7\nFind cats that are:\n\n * Female and younger than 5,\n * OR male cats with no favorite toy\n',
    validator=val_practice_3_7,
    sol_sql="SELECT name, sex, age, fav_toy FROM cat WHERE (sex = 'F' AND age < 5) OR (sex = 'M' AND fav_toy IS NULL);",
    select_only=True,
    dedupe=True,
    schema_tables=['cat']
)

## Level 4: Complex conditions

In [ ]:
# @title Practice 4_1
base_practice_4_1 = make_df_validator_nospoilers(
    expected_hash='99b7974b44b2f7ab2b3acb7583f72d588d9d95260722c54a743df68437fb76ed',
    required_cols=['id', 'name', 'breed', 'coloration', 'age', 'sex', 'fav_toy'],
    expected_rows=3,
    sort_rows=True,
    sort_cols=True,
    exact_cols=False,
    hide_missing_cols=True,
    hide_row_count=False,
)

val_practice_4_1 = base_practice_4_1

make_sql_runner(
    conn,
    runner_id="practice_4_1",
    description_md='### Practice 4.1\nReturn cats that satisfy either Group A or Group B:\n\nGroup A\n\n* breed is Siamese\n* coloration is red\n* age is 4 or older           \n* fav_toy is toy mouse OR teaser \n\nGroup B       \n\n* breed is Ragdoll         \n* sex is M \n* age is 3 or younger         \n* fav_toy is laser \n',
    validator=val_practice_4_1,
    sol_sql="SELECT * FROM cat WHERE ( breed = 'Siamese' AND coloration = 'red' AND age >= 4 AND (fav_toy = 'toy mouse' OR fav_toy = 'teaser') ) OR ( breed = 'Ragdoll' AND sex = 'M' AND age <= 3 AND fav_toy = 'laser' );",
    select_only=True,
    dedupe=True,
    schema_tables=['cat']
)

In [ ]:
# @title Practice 4_2
base_practice_4_2 = make_df_validator_nospoilers(
    expected_hash='f805a653dbecf37a4158381acd2346991e2d2e4e7ae72ef7934e9a874782b45c',
    required_cols=['name', 'breed', 'coloration', 'age', 'sex', 'fav_toy'],
    expected_rows=3,
    sort_rows=True,
    sort_cols=True,
    exact_cols=False,
    hide_missing_cols=True,
    hide_row_count=False,
)

val_practice_4_2 = base_practice_4_2

make_sql_runner(
    conn,
    runner_id="practice_4_2",
    description_md='### Practice 4.2\nReturn cats that:\n\n* have a recorded coloration          \n* have a recorded favorite toy          \n* are NOT (breed = Ragdoll OR age > 15)          \n* are either female or have a name ending with y           \n* and their favorite toy is not teaser\n',
    validator=val_practice_4_2,
    sol_sql="SELECT name, breed, coloration, age, sex, fav_toy FROM cat WHERE coloration IS NOT NULL AND fav_toy IS NOT NULL AND NOT (breed = 'Ragdoll' OR age > 15) AND (sex = 'F' OR name LIKE '%y') AND fav_toy <> 'teaser';",
    select_only=True,
    dedupe=True,
    schema_tables=['cat']
)

In [ ]:
# @title Practice 4_3
base_practice_4_3 = make_df_validator_nospoilers(
    expected_hash='c7fba85d5da3e7411b8b122e6454db109b6e58da111c48f8d82769f6982d2141',
    required_cols=['id', 'name', 'breed', 'coloration', 'age', 'sex', 'fav_toy'],
    expected_rows=2,
    sort_rows=True,
    sort_cols=True,
    exact_cols=False,
    hide_missing_cols=True,
    hide_row_count=False,
)

val_practice_4_3 = base_practice_4_3

make_sql_runner(
    conn,
    runner_id="practice_4_3",
    description_md='### Practice 4.3\nReturn cats that satisfy:\n\n  * (breed is Persian OR Siamese) AND age >= 4            \n  * AND sex is F            \n  * AND coloration is blue OR red            \n  * AND favorite toy is teaser OR toy mouse            \n  * AND name does not contain the letter o\n',
    validator=val_practice_4_3,
    sol_sql="SELECT * FROM cat WHERE (breed = 'Persian' OR breed = 'Siamese') AND age >= 4 AND sex = 'F' AND (coloration = 'blue' OR coloration = 'red') AND (fav_toy = 'teaser' OR fav_toy = 'toy mouse') AND name NOT LIKE '%o%';",
    select_only=True,
    dedupe=True,
    schema_tables=['cat']
)

In [ ]:
# @title Practice 4_4
base_practice_4_4 = make_df_validator_nospoilers(
    expected_hash='e989a4121a6d14c15ce3db349e9b8856ef17c6dbbb330a3687faf796aa3c49c9',
    required_cols=['name', 'sex', 'coloration', 'age', 'fav_toy'],
    expected_rows=3,
    sort_rows=True,
    sort_cols=True,
    exact_cols=False,
    hide_missing_cols=True,
    hide_row_count=False,
)

val_practice_4_4 = base_practice_4_4

make_sql_runner(
    conn,
    runner_id="practice_4_4",
    description_md='### Practice 4.4\nI’m looking for female cats that are either red or blue, and they should be at least 4 years old.\nAlso, I only want cats whose favorite toy is either teaser or toy mouse.\n',
    validator=val_practice_4_4,
    sol_sql="SELECT name, sex, coloration, age, fav_toy FROM cat WHERE sex = 'F' AND (coloration = 'red' OR coloration = 'blue') AND age >= 4 AND (fav_toy = 'teaser' OR fav_toy = 'toy mouse');",
    select_only=True,
    dedupe=True,
    schema_tables=['cat']
)

In [ ]:
# @title Practice 4_5
base_practice_4_5 = make_df_validator_nospoilers(
    expected_hash='ddf25363df2a13e99be52174d7e93953db06bf02426d2a799f0e8ce585a56ff4',
    required_cols=['id', 'name', 'breed', 'coloration', 'age', 'sex', 'fav_toy'],
    expected_rows=3,
    sort_rows=True,
    sort_cols=True,
    exact_cols=False,
    hide_missing_cols=True,
    hide_row_count=False,
)

val_practice_4_5 = base_practice_4_5

make_sql_runner(
    conn,
    runner_id="practice_4_5",
    description_md='### Practice 4.5\nI’m looking for cats that are red, or if they’re blue then they must be female; and in both cases they should be at least 4 years old.\nAlso, keep only cats whose favorite toy is either teaser or toy mouse.\n',
    validator=val_practice_4_5,
    sol_sql="SELECT * FROM cat WHERE ( coloration = 'red' OR (coloration = 'blue' AND sex = 'F') ) AND age >= 4 AND (fav_toy = 'teaser' OR fav_toy = 'toy mouse');",
    select_only=True,
    dedupe=True,
    schema_tables=['cat']
)